<!DOCTYPE html>
<html>
<head>
	<title>Map</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/home.css" rel="stylesheet" media="screen" />
	<script data-main="leaderboard" src="scripts/require.js"></script>
	<script>
		require.config( {
			baseUrl : 'scripts',
			paths : {
				'$' : 'jquery-2.0.3',
				'_' : 'underscore',
				'Backbone' : 'backbone',
				'root' : '../'
			}
		} );
	</script>
</head>
<body>

	<h1>Leaderboard</h1>


	<!-- TODO: Change angular over to knockout here -->
    <div class="btn-group" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-default" data-bind="click: showGlobal(true)">Global</button> 
        <button type="button" class="btn btn-default" data-bind="click: showGlobal(false)">Friends</button> 
    </div>

    <table class="table table-hover table-bordered" data-bind="visible: showGlobal()" style="table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 10px;">#</th>
                <th style="width: 60px;">Name</th>
                <th style="width: 60px;">Score</th>
                <th style="width: 40px;">Level</th>
                <th style="width: 80px;">Action</th>
            </tr>
        </thead>
       
        <tbody data-bind="foreach: globalEntries">
            <tr>
                <td data-bind="text: $index"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: score"></td>
                <td>1</td>
                <td><button type="button" class="btn btn-primary btn-mini" ng-click="sendGift()">Gift</button> <button type="button" class="btn btn-primary btn-mini" onclick="sendMail()">Mail</button></td>
                
            </tr>
            
        </tbody>
    </table>
	
    <table class="table table-hover table-bordered" data-bind="visible: !showGlobal()" style="table-layout: fixed;">
        <thead>
            <tr>
                <th style="width: 10px;">#</th>
                <th style="width: 60px;">Name</th>
                <th style="width: 60px;">Score</th>
                <th style="width: 40px;">Level</th>
                <th style="width: 80px;">Action</th>
            </tr>
        </thead>
       
        <tbody data-bind="foreach: friendEntries">
            <tr>
                <td data-bind="text: $index"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: score"></td>
                <td>1</td>
                <td><button type="button" class="btn btn-primary btn-mini" ng-click="sendGift()">Gift</button> <button type="button" class="btn btn-primary btn-mini" onclick="sendMail()">Mail</button></td>
                
            </tr>
            
        </tbody>
    </table>

</body>
</html>