<div class="modal-header">
    <h3>Game Paused</h3>
</div>
<div class="modal-body" style="text-align: center;">
Score: <h3 style="display:inline;">XXXX pts</h3><br/>
<button type="button" class="btn btn-large btn-primary" ng-click="resumeGame()" style="margin-top: 20px;">Continue</button>
<button type="button" class="btn btn-large btn-primary" ng-click="replayGame()" style="margin-top: 20px; margin-left: 20px;">Restart</button>
<hr />
<h4>High Scores:</h4>
<div data-ng-include data-src="'leaderboard.html'"></div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="openOptions()">Options</button>
    <button class="btn" ng-click="buyPowerups()">Buy Powerups</button>
    <button class="btn btn-warning" ng-click="goHome()">Home</button>
</div>