body {
	margin: 0;
}

#navbar {
	height: 40px;
	background-color: greenyellow;
}

#map {
	background-image: url('../images/Game_Map.jpg');
	position: absolute;
	top: 40px;
	width: 794px;
	height: 638px;
}

#level1,
#level2,
#level3,
#level4,
#level5,
#level6,
#level7,
#level8 {
	height: 50px;
	width: 50px;
	position: absolute;
}

#level1 {
	left: 211px;
	top: 542px;
}

#level2 {
	left: 490px;
	top: 520px;
}

#level3 {
	left: 454px;
	top: 386px;
}

#level4 {
	left: 243px;
	top: 370px;
}

#level5 {
	left: 100px;
	top: 217px;
}

#level6 {
	left: 318px;
	top: 184px;
}

#level7 {
	left: 565px;
	top: 200px;
}

#level8 {
	left: 576px;
	top: 65px;
}

#coinsDisplay, #livesDisplay {
	position: absolute;
	top: 0;
	height : 40px;
	width: 100px;
	line-height: 40px;
}

#coinsDisplay {

}

#livesDisplay {
	left: 100px;
}